.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #488c8f4f;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 50;
    animation: enterOverlay 0.5s;
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 45px;
    cursor: default;
    width: 500px;
    height: 400px;
    background-color: #faf9f9;
    border-radius: 20px;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
    z-index: 2;
    animation: enterPupup 0.3s;
    .title {
        margin-top: 20px;
        width: 100%;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        h2 {
            font-weight: 500;
            color: #488b8f;
            font-size: 24px;
        }
    }
}

.form {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
        color: #488b8f;
        text-align: center;
    }
    label {
        color: #488b8f;
        font-size: 14px;
        margin-bottom: 5px;
    }
    input {
        font-weight: 400;
        box-sizing: border-box;
        margin-bottom: 18px;
        width: 100%;
        height: 38px;
        border: 1px solid #5ea3a3;
        background: none;
        border-radius: 5px;
        outline: none;
        padding: 10px;
        transition: all 0.25s;
        &:focus {
            border: 1px solid #522d36;
        }
    }
    input[type='range'] {
        border: none;
        padding: 0;
        height: 20px;
        -webkit-appearance: none;
        width: 100%;
        margin: 0;
        border-radius: 0;

        &:focus {
            &::-webkit-slider-runnable-track {
                background: #522d3675;
            }
            &::-moz-range-track {
                background: #522d3675;
            }
            &::-ms-track {
                background: #522d3675;
            }
        }
    }
    input[type='range']:focus {
        outline: none;
    }
    input[type='range']::-webkit-slider-runnable-track {
        width: 100%;
        height: 1px;
        cursor: pointer;
        background: #add2c9;
        border-radius: 1px;
    }
    input[type='range']::-webkit-slider-thumb {
        height: 15px;
        width: 15px;
        border-radius: 15px;
        border: 1px solid #5ea3a3;
        background: #faf9f9;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -7px;
    }

    input[type='range']::-moz-range-track {
        width: 100%;
        height: 1px;
        cursor: pointer;

        background: #add2c9;
        border-radius: 1px;
    }
    input[type='range']::-moz-range-thumb {
        height: 15px;
        width: 15px;
        border-radius: 15px;
        border: 1px solid #5ea3a3;
        background: #faf9f9;
        cursor: pointer;
    }
    input[type='range']::-ms-track {
        width: 100%;
        height: 1px;
        cursor: pointer;

        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    input[type='range']::-ms-thumb {
        margin-top: 20px;
        height: 15px;
        width: 15px;
        border-radius: 15px;
        border: 1px solid #5ea3a3;
        background: #faf9f9;
        cursor: pointer;
    }
    button {
        cursor: pointer;
        margin-top: 18px;
        background-color: #5ea3a3;
        border: none;
        width: 195px;
        height: 40px;
        color: #faf9f9;
        font-size: 18px;
        outline: none;
        border-radius: 5px;
        transition: all 0.25s;
        &:hover {
            border: 1px solid #5ea3a3;
            background-color: #faf9f9;
            color: #5ea3a3;
        }
        &:focus {
            border: 1px solid #5ea3a3;
            background-color: #faf9f9;
            color: #5ea3a3;
        }
    }
}

@keyframes enterOverlay {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes enterPupup {
    0% {
        scale: 0;
    }

    100% {
        scale: 1;
    }
}
